.Location, .LOCATION {
    font-size: 14px;
    color: #ced2d5;
    text-transform: uppercase;
    position: relative;
  }
  
  .Location {
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
  }
  
  .LOCATION {
    margin: 0 auto;
    text-align: center;
    padding: 5px 0;
  }
  
  /* Responsive adjustments */
  @media(max-width: 600px) {
    .Location, .LOCATION {
      font-size: 12px;
    }
  }
  